* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 8%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.menu-items li {
    margin-right: 20px;
    font-size: 17px;
    padding: 5px 10px;
    transition: .1s linear;
}

.menu-items li:hover {
    border-bottom: 4px solid black;
}

.menu-bars {
    display: none;
    font-size: 25px;
}

#cross-btn {
    display: none;
}

nav ul img {
    width: 90px;
}

.icons {
    font-size: 30px;
}

.icons i {
    margin-right: 20px;
}

.hide-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 30px;
}

.hide-menu li {
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.hide-menu li:hover {
    background-color: gainsboro;
    color: black;
}

.order-btn {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    border: none;
    padding: 8px 15px;
    transition: .2s linear;
}

.order-btn:hover {
    background-color: gainsboro;
    color: black;
    font-size: 18px;
}

.restaurant-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin: 30px 7%;
}

.banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text h1 {
    font-size: 35px;
    font-weight: 1000;
}

.banner-text h3 {
    color: #ff8800;
}

.banner-image img {
    width: 100%;
}

.banner-btn {
    background-color: black;
    color: white;
    margin: 15px 0;
    border: none;
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    transition: .3s ease-in-out;
}

.banner-btn:hover {
    background-color: #505050;
    font-size: 18px;
}

.menu-section {
    margin: 100px 7%;
    text-align: center;
}

.section-heading {
    font-size: 35px;
    font-weight: 1000;
    margin: 30px;
}

.coffee-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.coffee-recipe {
    text-align: center;
}

.coffee-recipe img {
    max-width: 100%;
}

.coffee-recipe h1 {
    font-size: 25px;
    font-weight: 1000;
}

.coffee-recipe h4 {
    font-weight: 1000;
}

.coffee-recipe button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0;
    text-align: center;
}

.contact-section {
    margin: 50px 10%;
    text-align: center;
}

.contact-content {
    background: linear-gradient(#00000056, #0000009c), url("images/menu-section/hot-coffee.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 130px;
    color: white;
    border-radius: 5px;
}

.contact-content h1 {
    font-size: 28px;
    padding: 20px;
}

.contact-content input {
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.contact-content button {
    background-color: black;
    color: white;
    padding: 10px 17px;
    border: none;
    border-radius: 7px;
}

.rate-section {
    text-align: center;
    margin: 30px 18%;
}

.rate-content {
    background: linear-gradient(#0000008a, #000000b9), url("images/rate.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 100px;
}

.rate-content i {
    font-size: 40px;
    padding: 20px;
    color: white;
}

.review-part input {
    outline: none;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 18px;
}

.review-part button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
}

@media screen and (max-width: 790px) {
    .menu-items {
        display: none;
    }
    .menu-bars {
        display: block;
    }
}