* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0 8%;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
nav ul li {
    margin-right: 20px;
    font-size: 17px;
}
nav ul li img {
    width: 80px;
}